<div class="col-lg-12" style="padding: 0px!important;">
    <app-aside></app-aside>
    <!-- Right Panel -->

<div id="right-panel" class="right-panel col-lg-10 col-md-8 col-sm-8">
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Créer une nouvelle voiture</h1>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
  <div class="content mt-3">
        <div  *ngIf="confirmChargement" class="container" style="text-align: center;">
                <img  [src]="chargement">
        </div>
        <div *ngIf="existError" id="display-error">
                <img [src]="ICON_ERROR" alt="Error" /> 
                {{success}}
        </div>
        <div *ngIf="existSuccess" id="display-success">
                <img [src]="ICON_SUCCESS" alt="Success" />
                {{success}}
        </div>
        <br>
    <form #saveVehiculeForm="ngForm">
    <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">information générale - Voiture</strong>
                </div>
                <div class="card-body">
                  <!-- Credit Card -->
                  <div id="pay-invoice">
                      <div class="card-body">
                            <div class="form-group text-center">
                                  <ul class="list-inline">
                                      <li class="list-inline-item"><i class="text-muted fa fa-car fa-4x"></i></li>
                                  </ul>
                            </div>
                            <hr>
                            <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="toggle-1">
                                    <ngb-panel id="toggle-1" title="Choix du véhicule" >
                                      <ng-template ngbPanelContent>
                                            <div class="card col-3">
                                                    <div class="card-body" style="text-align: center">
                                                        <a (click)="choiseMarque(1);acc.toggle('toggle-2')">
                                                            <img style="cursor: pointer;"  width="84px" height="84px" src="../../assets/icon/icon-marque/Icon_Peugeot.png">
                                                        </a>
                                                    </div>
                                            </div>  
                                            <div class="card col-3">
                                                    <div class="card-body" style="text-align: center">
                                                        <a (click)="choiseMarque(2);acc.toggle('toggle-2')">
                                                            <img style="cursor: pointer;"  width="84px" height="84px"  src="../../assets/icon/icon-marque/icon-renault.png">
                                                        </a>
                                                    </div>
                                            </div> 
                                            <div class="card col-3">
                                                    <div class="card-body" style="text-align: center">
                                                        <a (click)="choiseMarque(3);acc.toggle('toggle-2')">
                                                            <img style="cursor: pointer;"  width="84px" height="84px"  src="../../assets/icon/icon-marque/icon-opel.png">
                                                        </a>
                                                    </div>
                                            </div> 
                                            <div class="card col-3">
                                                    <div class="card-body" style="text-align: center">
                                                        <a (click)="choiseMarque(4);acc.toggle('toggle-2')">
                                                            <img style="cursor: pointer;"  width="84px" height="84px" src="../../assets/icon/icon-marque/icon-Citroen.png">
                                                        </a>
                                                    </div>
                                            </div> 
                                            <div class="card col-3">
                                                    <div class="card-body" style="text-align: center">
                                                        <a (click)="choiseMarque(5);acc.toggle('toggle-2')">
                                                            <img style="cursor: pointer;"  width="84px" height="84px"  src="../../assets/icon/icon-marque/icon-bmw.png">
                                                        </a>
                                                    </div>
                                            </div> 
                                            <div class="card col-3">
                                                    <div class="card-body" style="text-align: center">
                                                        <a (click)="choiseMarque(6);acc.toggle('toggle-2')">
                                                            <img style="cursor: pointer;"  width="84px" height="84px"  src="../../assets/icon/icon-marque/icon-alfa-romeo.png">
                                                        </a>
                                                    </div>
                                            </div> 
                                            <div class="card col-3">
                                                    <div class="card-body" style="text-align: center">
                                                        <a (click)="choiseMarque(7);acc.toggle('toggle-2')">
                                                            <img style="cursor: pointer;"  style="cursor: pointer;" width="84px" height="84px"  src="../../assets/icon/icon-marque/icon-audi.png">
                                                        </a>
                                                    </div>
                                            </div> 
                                            <div class="card col-3">
                                                    <div class="card-body" style="text-align: center">
                                                        <a (click)="choiseMarque(8);acc.toggle('toggle-2')">
                                                            <img style="cursor: pointer;"  style="cursor: pointer;"  width="84px" height="84px"  src="../../assets/icon/icon-marque/icon-Chevrolet.png">
                                                        </a>
                                                    </div>
                                            </div> 
                                            <div>
                                                <span class="control-label mb-1 fs-menu" *ngIf="vehicule.marque !== '' ">la marque sélectionnée est :{{vehicule.marque}} </span>
                                            </div>
                                      </ng-template>
                                    </ngb-panel>
                                    <ngb-panel id="toggle-2" title="Voulez vous trouver une marque ?">
                                      <ng-template ngbPanelContent>
                                            <div class="col-3 input-group-sm">
                                                    <label for="marque" class="control-label mb-1 fs-menu">Marque</label>
                                                    <select required class="form-control selectpicker" [(ngModel)]="vehicule.marque" name="ftr" id="ftr">
                                                            <option  *ngFor="let f of tabMarque" [ngValue]="f">
                                                                    {{f}}  
                                                            </option>
                                                           
                                                    </select>  
                                             </div>
                                      </ng-template>
                                    </ngb-panel>
                            </ngb-accordion>
                            <br>
                            <div class="row ">
                                 <div class="col-3 input-group-sm">
                                        <label for="model" class="control-label mb-1 fs-menu">Modèle</label>
                                        <input required  [(ngModel)]="vehicule.modele" id="model" name="model" type="text" class="form-control">
                                </div>
                                <div class="col-3">
                                        <div class="form-group input-group-sm">
                                                  <label for="Immatricule" class="control-label mb-1 fs-menu">Immatricule</label>
                                                  <input required [(ngModel)]="vehicule.immatricule" id="Immatricule" name="Immatricule" type="text" class="form-control">
                                        </div>
                                </div>
                              <div class="col-3 input-group-sm">
                                    <label for="Caisse" class="control-label mb-1 fs-menu">Type véhicule</label>
                                    <select required [(ngModel)]="vehicule.typeVehicule" name="Caisse" id="Caisse" class="form-control">
                                            <option value="0">Please select</option>
                                            <option value="Touristique">Touristique</option>
                                            <option value="Commerciale">Commerciale</option>
                                    </select>
                              </div>
                              <div class="col-3">
                                    <div class="form-group input-group-sm">
                                              <label for="prixLocation" class="control-label mb-1 fs-menu">Prix Location</label>
                                              <input required [(ngModel)]="vehicule.prixLocation" id="prixLocation" name="prixLocation" type="text" class="form-control">
                                    </div>
                              </div>
                             
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-3">
                                  <div class="form-group input-group-sm">
                                    <label for="prixAchatV" class="control-label mb-1 fs-menu">Prix d'achat</label>
                                    <input required [(ngModel)]="vehicule.prixAchat" id="prixAchatV" name="prixAchatV" type="text" class="form-control">
                                  </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group input-group-sm" style="display: inline-grid!important;">
                                            <label for="couleur" class="control-label mb-1 fs-menu">Couleur</label>
                                            <input  [cpPresetColors]="['#fff', '#000', '#6e7f80', '#36454f', '#708090', '#D3D3D3']"
                                             class="col-12" (colorPickerChange)="onChangeColor($event)"  [(colorPicker)]="vehicule.couleur" [style.background]="vehicule.couleur"/>
                                           
                                    </div>
                                </div>
                                <div class="col-3">
                                      <div class="form-group input-group-sm">
                                        <label for="km" class="control-label mb-1 fs-menu">Kilommétrage actuel</label>
                                        <input required [(ngModel)]="vehicule.kilommetrage" id="km" name="km" type="text" class="form-control">
                                      </div>
                                </div>
                                <div class="col-3">
                                        <div class="form-group input-group-sm">
                                          <label for="carburant" class="control-label mb-1 fs-menu">Carburant actuel</label>
                                          <input  [(ngModel)]="vehicule.carburantActuel" id="carburant" name="carburant" type="text" class="form-control">
                                        </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                    <div class="col-6">
                                            <div class="col col-md-3"><label class=" form-control-label fs-menu">Energie</label></div>
                                            <div class="col col-md-9">
                                              <div class="form-check-inline form-check">
                                                <label for="inline-radio1" class="form-check-label fs-menu" style="padding-right: 30px;font-weight: bold">
                                                  <input [(ngModel)]="vehicule.energie" type="radio" id="inline-radio1" name="inline-radios" value="Essance" class="form-check-input">Essance
                                                </label>
                                                <label style="padding-right: 30px;font-weight: bold" for="inline-radio2" class="form-check-label fs-menu">
                                                  <input [(ngModel)]="vehicule.energie" type="radio" id="inline-radio2" name="inline-radios" value="Diesel" class="form-check-input">Diesel
                                                </label>
                                                <label style="padding-right: 30px;font-weight: bold" for="inline-radio2" class="form-check-label fs-menu">
                                                    <input [(ngModel)]="vehicule.energie" type="radio" id="inline-radio2" name="inline-radios" value="GPL" class="form-check-input">GPL
                                                </label>
                                              </div>
                                            </div>
                                    </div>
                                    <div class="col-3">
                                      <div class="form-group input-group-sm">
                                        <label for="roueDessecours" class="control-label mb-1 fs-menu">Contient la roue de secours ?</label>
                                        <select required [(ngModel)]="vehicule.roueDeSecours" name="roueDessecours" id="roueDessecours" class="form-control">
                                                <option value="0">Please select</option>
                                                <option value="true">Oui</option>
                                                <option value="false">Non</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-3">
                                            <div class="form-group input-group-sm">
                                              <label for="anneF" class="control-label mb-1 fs-menu">Année de fabrication</label>
                                              <input  [(ngModel)]="vehicule.anneeFabrication" id="anneF" name="anneF" type="text" class="form-control">
                                            </div>
                                    </div>
                            </div>
                            <hr>
                        
                                <button (click)="open(content)" class="btn btn-primary btn-sm" style="color: white;">
                                       Déclarer une nouvelle assurance
                                </button>
                                <br><br>
                                <div *ngIf="listeAssurance?.length > 0">
                                    <table class="table table-hover table-bordered">
                                        <tr>
                                            <th>N° assurance</th>
                                            <th>Date d'expiration</th>
                                            <th>Type d'assurance</th>
                                            <th>Prix</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr *ngFor="let item of listeAssurance;let i=index" [ngClass]="{'expirationAssurance':item.expiration}">
                                            <td>{{i+1}}</td>
                                            <td>{{item.dateExpiration}}</td>
                                            <td>{{item.typeAssurance}}</td>
                                            <td>{{item.prixAchat}}</td>
                                            <td style="background: white!important">
                                                    <button [disabled]="item.expiration" (click)="deleteAssurance(item)"  style="background: #e1424a!important;color: white" class="btn btn-block btn-sm">Supprimer</button>
                                            </td>
                                        </tr>
                                    </table> 
                                </div> 
                                <br>
                                <!--modal-->
                            <ng-template #content let-c="close" let-d="dismiss">
                                    <div class="modal-header" style="text-align: center;margin: auto;">
                                        <div class="form-group text-center">
                                                <div class="form-group text-center">
                                                        <ul class="list-inline">
                                                            <img  [src]="ICON_ASSURANCE_PATH"  style="margin: auto">
                                                        </ul>
                                                </div>
                                        </div>
                                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                            <div class="form-group">
                                                    <div *ngIf="!confirmAddAssurance" class="col-lg-12">
                                                        <div class="card">
                                                            <div id="pay-invoice">
                                                                <div class="card-body">
                                                                    <div class="control-label mb-1 fs-menu" style="color: red;text-align: center;">     
                                                                            Tous les champs sont obligatoires, le prix ne peut pas être 0 et la date d'expiration ne peût pas être inférieur à aujourd'hui. 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                            <div class="form-group input-group-sm">
                                                                <label for="prix" class="control-label mb-1 fs-menu">Date d'expiration <span style="color: red">*</span></label>
                                                                <input [(ngModel)]="assurance.dateExpiration"  id="de" name="de" type="date" class="form-control">
                                                            </div>
                                                    </div>
                                                    <div class="col-12">
                                                            <div class="form-group input-group-sm">
                                                                <label for="typeAssurance" class="control-label mb-1 fs-menu">Type de l'assurance <span style="color: red">*</span></label>
                                                                <select [(ngModel)]="assurance.typeAssurance" name="typeAssurance" id="typeAssurance" class="form-control">
                                                                        <option value="0">Please select</option>
                                                                        <option value="Formule TOUT EN 1 (la tous risques)">Formule TOUT EN 1 (la tous risques)</option>
                                                                        <option value="Formule CLASSIC AUTO (la dommage collision)">Formule CLASSIC AUTO (la dommage collision)</option>
                                                                        <option value="Formule CLASSIC + (la dommage collision à valeur réelle)">Formule CLASSIC + (la dommage collision à valeur réelle)</option>
                                                                </select>
                                                            </div>
                                                    </div>
                                                    <br>
                                                    <div class="col-12">
                                                            <div class="form-group input-group-sm">
                                                                <label for="prix" class="control-label mb-1 fs-menu">Prix de l'assurance <span style="color: red">*</span></label>
                                                                <input [(ngModel)]="assurance.prixAchat" id="prix" name="prix" type="text" class="form-control">
                                                            </div>
                                                    </div>
                                                    <br>
                                                    <div style="clear: both;"></div>
                                                    <br>
                                                    <hr>
                                                    <br>
                                                    <div class="form-group text-center" >
                                                            <button style="color: white;" (click)="addAssurance();confirmAddAssurance > 0 && c('Cross click')" type="button" class="btn btn-primary btn-sm">Ajouter une nouvelle assurance</button>
                                                    </div>
                                            </div>
                                    </div>
                            </ng-template>
                            <div class="form-group">
                                    <label for="observation" class="control-label mb-1 fs-menu">Observation sur la voiture</label>
                                    <textarea  [(ngModel)]="vehicule.observation" id="observation" rows="10" name="observation" type="text" class="form-control"></textarea>
                            </div>
                           
                      </div>
                      <hr>
                  </div>
                  <div class="col-lg-12">
                        <div class="card">
                              <div id="pay-invoice">
                                  <div class="card-body">
                                        <div [ngClass]="(btnSave) ? 'col-lg-12':'col-lg-8'" style="margin-bottom: 20px">
                                              <button [disabled]="!saveVehiculeForm.valid" (click)="addVehicule()" id="payment-button" type="submit" class="btn btn-outline-info btn-block">
                                                  <i class="fa fa-lock fa-lg"></i>&nbsp;
                                                  <span id="payment-button-amount">
                                                        <i *ngIf="btnSave">Enregistrer</i>
                                                        <i *ngIf="!btnSave">Modifier</i>
                                                  </span>
                                              </button>
                                          </div>
                                          <div *ngIf="!btnSave" class="col-lg-4">
                                                <button   class="btn btn-outline-danger btn-block" type="button" (click)="redirectToPageListeVehicule();">
                                                      <span id="payment-button-amountR">
                                                          <i *ngIf="!btnSave">Retour</i>
                                                      </span>
                                                </button>
                                            </div>
                                  </div>
                              </div>
                        </div> <!-- .card -->
                    </div><!--/.col-->
                </div>
            </div> <!-- .card -->
  
          </div><!--/.col-->
          
        </div>
    </div>
</form>
</div>
</div><!-- /#right-panel -->
<!-- Right Panel -->
</div>





