<div class="col-lg-12" style="padding: 0px!important;">
        <app-aside></app-aside>
        <!-- Right Panel -->
    
    <div id="right-panel" class="right-panel col-lg-10 col-md-8 col-sm-8">
        
        <app-header-part [title]="titleHeaderPart"></app-header-part>
        
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <app-card-header [iconPath]="ICON_MONEY" [title]="title" [value]="totalDette"></app-card-header>
                            </div>
                            <div class="card-body">
                                <!-- Credit Card -->
                                <div id="pay-invoice">
                                    <div class="card-body">
                                        <div class="form-group text-center">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-address-card fa-4x"></i></li>
                                            </ul>
                                        </div>
                                        <hr> 
                                        <div class="row">
                                                <div class="col-4">
                                                    <div class="form-group  input-group-sm">
                                                            <app-search (changeValue)="onValueInParentComponentChanged($event)" [label]="label" [placeholder]="placeholder" [filterQuery]="filterQuery"></app-search>
                                                    </div>
                                                </div>
                                        </div>
                                        <br>
                                        <table class="table table-hover table-bordered">
                                                <tr>
                                                        <th>N°</th>
                                                        <th>Nom</th>
                                                        <th>Prénom</th>
                                                        <th>Date de naissance</th>
                                                        <th>Mail</th>
                                                        <th>Tél</th>
                                                        <th>Dette</th>
                                                        <th>Action</th>
                                                </tr>
                                                <tr  [ngClass]="{'client-endette': item.sommeDette != 0 && item.sommeDette != null && item.sommeDette != '','client-bloques':item.clientBloque}" *ngFor="let item of clients  | myfilter : filterQuery | paginate: { itemsPerPage: 10, currentPage: firstPage}  ;let i = index">
                                                        <td>{{i+1}}</td>
                                                        <td>{{item.nom | uppercase}}</td>
                                                        <td>{{item.prenom}}</td>
                                                        <td>{{item.dateDeNaissance | date : 'dd/MM/yyyy'}}</td>
                                                        <td>{{item.email}}</td>
                                                        <td>{{item.numeTelOne}}</td>
                                                        <td *ngIf="item.sommeDette != 0">Oui - {{item.sommeDette}} DA</td>
                                                        <td *ngIf="item.sommeDette == 0">Non</td>
                                                        <td style="background: white!important">
                                                                <button (click)="findOneClient(item)"  style="background: #42c5e1!important;color: white" class="btn btn-block btn-sm">Editer</button>
                                                        </td>
                                                        
                                                </tr>
                                        </table>
                                        <pagination-controls previousLabel="Précédent"
                                        nextLabel="Suivant" class="my-pagination" (pageChange)="firstPage = $event"></pagination-controls>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .card -->
                </div><!--/.col-->
            </div>
        </div>
    </div>
</div><!-- /#right-panel -->




