<div class="col-lg-12" style="padding: 0px!important;">
        <app-aside></app-aside>
        <!-- Right Panel -->
    
    <div id="right-panel" class="right-panel col-lg-10 col-md-8 col-sm-8">
            <div class="breadcrumbs">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Créer un nouveau client</h1>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
           
      <div class="content mt-3">
        <form #saveClientForm="ngForm" [formGroup]="settingsForm" (ngSubmit)="submitForm()">
                <div  *ngIf="confirmChargement" class="container" style="text-align: center;">
                        <img  [src]="chargement">
                </div>
                <div  *ngIf="success != null || success != '' " style="text-align: center;">
                        <div [ngClass]="{'alert alert-danger': existError,'alert alert-info': !existError}">
                                {{success}}
                        </div>  
                </div>
        <div class="animated fadeIn">
            <div class="row">
              <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Information générale</strong>
                    </div>
                    <div class="card-body">
                      <!-- Credit Card -->
                      <div id="pay-invoice">
                          <div class="card-body">
                                  <div class="form-group text-center">
                                      <ul class="list-inline">
                                          <li class="list-inline-item"><i class="fa fa-address-card fa-4x"></i></li>
                                      </ul>
                                  </div>
                                  <hr>
                                  <div class="form-group input-group-sm">
                                      <label for="cc-payment" class="control-label mb-1 fs-menu">Nom</label>
                                      <input  required id="cc-pament" formControlName="nom" name="nom" type="text" class="form-control">
                                  </div>
                                  <div class="form-group input-group-sm">
                                    <label for="prenom" class="control-label mb-1 fs-menu">Prénom</label>
                                    <input   required id="prenom" formControlName="prenom" name="prenom" type="text" class="form-control">
                                  </div>
                                  <div class="row">
                                      <div class="col-6">
                                          <div class="form-group input-group-sm">
                                            <label for="dateDeNaissance" class="control-label mb-1 fs-menu">Date de naissance</label>
                                            <input   required formControlName="dateDeNaissance"  id="dateDeNaissance" name="dateDeNaissance" type="date" class="form-control">
                                          </div>
                                      </div>
                                      <div class="col-6">
                                        <div class="form-group input-group-sm">
                                          <label for="lieuDeNaissance" class="control-label mb-1 fs-menu">Lieu de naissance</label>
                                          <input  formControlName="lieuDeNaissance" id="lieuDeNaissance" name="lieuDeNaissance" type="text" class="form-control">
                                        </div>
                                    </div>
                                  </div>
                                  <div class="form-group input-group-sm">
                                    <label for="adresse" class="control-label mb-1 fs-menu">Adresse</label>
                                    <input   formControlName="adresse"  id="adresse" name="adresse" type="text" class="form-control">
                                  </div>
                                  <div class="form-group input-group-sm">
                                    <label for="email" class="control-label mb-1 fs-menu">Mail</label>
                                    <input   formControlName="email"  id="email" name="email" type="text" class="form-control">
                                  </div>
                                  <div class="row">
                                    <div class="col-6">
                                        <div class="form-group input-group-sm">
                                          <label for="tel1" class="control-label mb-1 fs-menu">Tél 1</label>
                                          <input  required formControlName="numeTelOne"  id="tel1" name="tel1" type="tel" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group input-group-sm">
                                            <label for="tel2" class="control-label mb-1 fs-menu">Tél 2</label>
                                            <input  formControlName="numTelTwo"  id="tel2" name="tel2" type="tel" class="form-control">
                                        </div>
                                    </div>
                                  </div>
                                <div class="row form-group">
                                        <div class="col col-md-3"><label class=" form-control-label fs-menu">Type client</label></div>
                                        <div class="col col-md-9">
                                          <div class="form-check-inline form-check">
                                            <label for="inline-radio1" class="form-check-label fs-menu" style="padding-right: 30px;font-weight: bold">
                                              <input  [value]="true"  formControlName="typeClient" type="radio" id="inline-radio1" name="typeClient"  class="form-check-input">Particulier
                                            </label>
                                            <label style="padding-right: 30px;font-weight: bold" for="inline-radio2" class="form-check-label fs-menu">
                                              <input [value]="false" formControlName="typeClient"  type="radio" id="inline-radio2" name="typeClient"  class="form-check-input">Soçiété
                                            </label>
                                          </div>
                                        </div>
                                </div>
                          </div>
                      </div>
      
                    </div>
                </div> <!-- .card -->
      
              </div><!--/.col-->
      
              <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Document d'information générale - Client</strong>
                    </div>
                    <div class="card-body">
                      <!-- Credit Card -->
                      <div id="pay-invoice">
                          <div class="card-body">
                                <div class="form-group text-center">
                                      <ul class="list-inline">
                                          <li class="list-inline-item"><i class="text-muted fa fa-files-o fa-4x"></i></li>
                                      </ul>
                                </div>
                                <hr>
                                <div class="form-group input-group-sm">
                                    <label for="passport" class="control-label mb-1 fs-menu">Passport N°</label>
                                    <input  formControlName="numeroPasseport" id="passport" name="passport" type="text" class="form-control">
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group input-group-sm">
                                          <label for="dateFabricationPas" class="control-label mb-1 fs-menu">Emis le</label>
                                          <input  formControlName="dateObtentionPassport" id="dateFabricationPas" name="dateFabricationPas" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                      <div class="form-group input-group-sm">
                                        <label for="lieuFabPassport" class="control-label mb-1 fs-menu">À</label>
                                        <input formControlName="lieuObtentionPasseport" id="lieuFabPassport" name="lieuFabPassport" type="text" class="form-control">
                                      </div>
                                  </div>
                                </div>
                                <hr>
                                <div class="form-group input-group-sm">
                                    <label for="permis" class="control-label mb-1 fs-menu">Permis N°</label>
                                    <input  required formControlName="numeroDePermis" id="permis" name="permis" type="text" class="form-control">
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group input-group-sm">
                                          <label for="dateFabricationPermis" class="control-label mb-1 fs-menu">Emis le</label>
                                          <input  formControlName="dateObtentionPermis"  id="dateFabricationPermis" name="dateFabricationPermis" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                      <div class="form-group input-group-sm">
                                        <label for="lieuFabricationPermis" class="control-label mb-1 fs-menu">À</label>
                                        <input  formControlName="lieuObtentionPermis"  id="lieuFabricationPermis" name="lieuFabricationPermis" type="text" class="form-control">
                                      </div>
                                  </div>
                                </div>
                                
                                <div class="form-group">
                                        <label for="observation" class="control-label mb-1 fs-menu">Observation sur le client</label>
                                        <textarea  formControlName="observation"  id="observation" rows="4" name="observation" type="text" class="form-control"></textarea>
                                </div>
                          </div>
                      </div>
                    </div>
                </div> <!-- .card -->
              </div><!--/.col-->
                <div class="col-lg-12" *ngIf="!btnSave">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group input-group-sm">
                                    <label for="sommeDette" class="control-label mb-1 fs-menu">Dette</label>
                                    <input formControlName="sommeDette"  id="tel1" name="sommeDette" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-4">
                                        <div class="form-group input-group-sm">
                                                <label for="clientbloque" class="control-label mb-1 fs-menu">Info client</label>
                                                <select formControlName="clientBloque" name="clientbloque" id="clientbloque" class="form-control">
                                                        <option [ngValue]="false">Client confiance</option>
                                                        <option [ngValue]="true">Client bloqué</option>
                                                </select>
                                        </div>
                                </div>
                                <div class="col-4" style="line-height: 3.5">
                                    <ngb-rating [(rate)]="rateNote">
                                            <ng-template let-fill="fill" let-index="index">
                                              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 4">&#9733;</span>
                                            </ng-template>
                                    </ngb-rating>
                                    <span class="badg-start">{{rateNote}}/10</span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                        <div class="card">
                          <div id="pay-invoice">
                              <div class="card-body">
                                      <div [ngClass]="(btnSave) ? 'col-lg-12':'col-lg-8'" style="margin-bottom: 20px">
                                          <button [disabled]="!saveClientForm.valid" id="payment-button" type="submit" class="btn btn-outline-info btn-block">
                                              <i class="fa fa-lock fa-lg"></i>&nbsp;
                                              <span id="payment-button-amount">
                                                  <i *ngIf="btnSave">Enregistrer</i>
                                                  <i *ngIf="!btnSave">Modifier</i>
                                              </span>
                                          </button>
                                        </div>
                                        <div *ngIf="!btnSave" class="col-lg-4">
                                          <button   class="btn btn-outline-danger btn-block" type="button" (click)="redirectPageListeClient();">
                                                <span id="payment-button-amountR">
                                                    <i *ngIf="!btnSave">Retour</i>
                                                </span>
                                          </button>
                                      </div>
                              </div>
                          </div>
                        </div> <!-- .card -->
                </div>
            </div>
        </div><!-- end-->
        </form> <!-- end form--> 
    </div>
</div><!-- /#right-panel -->
  <!-- Right Panel -->
</div>





