<div class="col-lg-12" style="padding: 0px!important;">
        <app-aside></app-aside>
        <!-- Right Panel -->
    
    <div id="right-panel" class="right-panel col-lg-10 col-md-8 col-sm-8">
            <div class="breadcrumbs">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Créer un nouveau client</h1>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
           
      <div class="content mt-3">
            
        <form #saveClientForm="ngForm" [formGroup]="settingsForm" (ngSubmit)="submitForm()">
                <div  *ngIf="confirmChargement" class="container" style="text-align: center;">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
                <div  *ngIf="existError" id="display-error">
                        <img [src]="ICON_ERROR" alt="Error" /> 
                        {{success}}
                </div>
                <div *ngIf="existSuccess" id="display-success">
                        <img [src]="ICON_SUCCESS" alt="Success" />
                        {{success}}
                </div>
                <br>
        <div class="animated fadeIn">
            <div class="row">
              <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Information générale</strong>
                    </div>
                    <div class="card-body">
                      <!-- Credit Card -->
                      <div id="pay-invoice">
                          <div class="card-body">
                                  <div class="form-group text-center">
                                      <ul class="list-inline">
                                          <li class="list-inline-item"><i class="fa fa-address-card fa-4x"></i></li>
                                      </ul>
                                  </div>
                                  <hr>
                                  <div class="row">
                                        <div class="col-6">
                                            <div>
                                                <mat-form-field>
                                                    <input  matInput placeholder="Nom"  id="cc-pament" formControlName="nom" name="nom" type="text">
                                                    <mat-error *ngIf="forms.nom.errors?.required">*</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-6">
                                                <mat-form-field>
                                                    <input  matInput placeholder="Prénom" id="prenom" formControlName="prenom" name="prenom" type="text">
                                                    <mat-error *ngIf="forms.prenom.errors?.required">*</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-6">
                                           <div>
                                                <mat-form-field>
                                                    <input matInput formControlName="dateDeNaissance"  id="dateDeNaissance" name="dateDeNaissance"  [matDatepicker]="myDatepicker" placeholder="Date de naissance">
                                                    <mat-datepicker #myDatepicker></mat-datepicker>
                                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                                    <mat-error *ngIf="forms.dateDeNaissance.errors?.required">*</mat-error>
                                                </mat-form-field>
                                           </div>
                                      </div>
                                      <div class="col-6">
                                            <div>
                                                <mat-form-field>                                          
                                                    <input matInput placeholder="Lieu de naissance" formControlName="lieuDeNaissance" id="lieuDeNaissance" name="lieuDeNaissance" type="text">
                                                </mat-form-field>
                                            </div>
                                      </div>
                                  </div>
                                  <hr>
                                    <div class="example-container">
                                            <mat-form-field>
                                                <input placeholder="Adresse" matInput formControlName="adresse"  id="adresse" name="adresse" type="text">
                                                <mat-error *ngIf="forms.adresse.errors?.required">*</mat-error>
                                            </mat-form-field>
                                    </div>
                                    <div class="example-container">
                                            <mat-form-field>
                                                <input placeholder="Mail" matInput formControlName="email"  id="email" name="email" type="text">
                                                <mat-error>Le format de l'email n'est pas valid</mat-error>
                                            </mat-form-field>
                                    </div>
                                   <div class="row">
                                        <div class="col-6">
                                            <div>
                                                <mat-form-field>                                          
                                                    <input  maxlength="12" pattern="[0-9]+" matInput placeholder="Tél 1" formControlName="numeTelOne"  id="tel1" name="tel1" type="tel">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div>
                                                <mat-form-field>                                          
                                                    <input  maxlength="12" pattern="[0-9]+" matInput placeholder="Tél 2" formControlName="numTelTwo"  id="tel2" name="tel2" type="tel">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                   </div>
                                <div class="row form-group">
                                        <div class="col col-md-3"><label class=" form-control-label fs-menu">Type client</label></div>
                                        <div class="col col-md-9">
                                          <div class="form-check-inline form-check">
                                            <label for="inline-radio1" class="form-check-label fs-menu" style="padding-right: 30px;font-weight: bold">
                                              <input  [value]="true"  formControlName="typeClient" type="radio" id="inline-radio1" name="typeClient"  class="form-check-input">Particulier
                                            </label>
                                            <label style="padding-right: 30px;font-weight: bold" for="inline-radio2" class="form-check-label fs-menu">
                                              <input [value]="false" formControlName="typeClient"  type="radio" id="inline-radio2" name="typeClient"  class="form-check-input">Soçiété
                                            </label>
                                          </div>
                                        </div>
                                </div>
                                
                          </div>
                      </div>
      
                    </div>
                </div> <!-- .card -->
      
              </div><!--/.col-->
      
              <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Document d'information générale - Client</strong>
                    </div>
                    <div class="card-body">
                      <!-- Credit Card -->
                      <div id="pay-invoice">
                          <div class="card-body">
                                <div class="form-group text-center">
                                      <ul class="list-inline">
                                          <li class="list-inline-item"><i class="text-muted fa fa-files-o fa-4x"></i></li>
                                      </ul>
                                </div>
                                <hr>
                                <div class="example-container">
                                        <mat-form-field>
                                            <input placeholder="Passport N°" matInput formControlName="numeroPasseport" id="passport" name="passport" type="text">
                                        </mat-form-field>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div>
                                            <mat-form-field>
                                                <input matInput formControlName="dateObtentionPassport" id="dateFabricationPas" name="dateFabricationPas" [matDatepicker]="myDatepickerObtention" placeholder="Emis le">
                                                <mat-datepicker #myDatepickerObtention></mat-datepicker>
                                                <mat-datepicker-toggle matSuffix [for]="myDatepickerObtention"></mat-datepicker-toggle>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                            <mat-form-field>
                                                    <input placeholder="À" matInput formControlName="lieuObtentionPasseport" id="lieuFabPassport" name="lieuFabPassport"  type="text">
                                            </mat-form-field>
                                  </div>
                                </div>
                                <hr>
                                <div class="example-container">
                                        <mat-form-field>
                                            <input placeholder="Permis N°" matInput formControlName="numeroDePermis" id="permis" name="permis" type="text">
                                        </mat-form-field>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div>
                                            <mat-form-field>
                                                <input matInput formControlName="dateObtentionPermis"  id="dateFabricationPermis" name="dateFabricationPermis" [matDatepicker]="myDatepickerObtentionPermis" placeholder="Emis le">
                                                <mat-datepicker #myDatepickerObtentionPermis></mat-datepicker>
                                                <mat-datepicker-toggle matSuffix [for]="myDatepickerObtentionPermis"></mat-datepicker-toggle>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                            <mat-form-field>
                                                    <input placeholder="À" matInput formControlName="lieuObtentionPermis"  id="lieuFabricationPermis" name="lieuFabricationPermis"  type="text">
                                            </mat-form-field>
                                    </div>
                                </div>
                                <br>
                                <div class="example-container">
                                    <mat-form-field appearance="outline">
                                            <mat-label>Observation sur le client </mat-label>
                                            <input placeholder="Remarques" matInput formControlName="observation" id="observation" name="observation" type="text">
                                    </mat-form-field>
                                </div>
                          </div>
                      </div>
                    </div>
                </div> <!-- .card -->
              </div><!--/.col-->
                <div class="col-lg-12" *ngIf="!btnSave">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group input-group-sm">
                                    <label for="sommeDette" class="control-label mb-1 fs-menu">Dette</label>
                                    <input formControlName="sommeDette"  id="tel1" name="sommeDette" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-4">
                                        <div class="form-group input-group-sm">
                                                <label for="clientbloque" class="control-label mb-1 fs-menu">Info client</label>
                                                <select formControlName="clientBloque" name="clientbloque" id="clientbloque" class="form-control">
                                                        <option [ngValue]="false">Client confiance</option>
                                                        <option [ngValue]="true">Client bloqué</option>
                                                </select>
                                        </div>
                                </div>
                                <div class="col-4" style="line-height: 3.5">
                                    <ngb-rating [(rate)]="rateNote">
                                            <ng-template let-fill="fill" let-index="index">
                                              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 4">&#9733;</span>
                                            </ng-template>
                                    </ngb-rating>
                                    <span class="badg-start">{{rateNote}}/10</span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                        <div class="card">
                          <div id="pay-invoice">
                              <div class="card-body">
                                      <div [ngClass]="(btnSave) ? 'col-lg-12':'col-lg-8'" style="margin-bottom: 20px">
                                          <button [disabled]="!saveClientForm.valid" id="payment-button" type="submit" class="btn btn-outline-info btn-block">
                                              <i class="fa fa-lock fa-lg"></i>&nbsp;
                                              <span id="payment-button-amount">
                                                  <i *ngIf="btnSave">Enregistrer</i>
                                                  <i *ngIf="!btnSave">Modifier</i>
                                              </span>
                                          </button>
                                        </div>
                                        <div *ngIf="!btnSave" class="col-lg-4">
                                          <button   class="btn btn-outline-danger btn-block" type="button" (click)="redirectPageListeClient();">
                                                <span id="payment-button-amountR">
                                                    <i *ngIf="!btnSave">Retour</i>
                                                </span>
                                          </button>
                                      </div>
                              </div>
                          </div>
                        </div> <!-- .card -->
                </div>
            </div>
        </div><!-- end-->
        </form> <!-- end form--> 
    </div>
</div><!-- /#right-panel -->
  <!-- Right Panel -->
</div>







