<div class="col-lg-12" style="padding: 0px!important;">
        <app-aside></app-aside>
        <!-- Right Panel -->
    
    <div id="right-panel" class="right-panel col-lg-10 col-md-8 col-sm-8">
        
        <app-header-part [title]="titleHeaderPart"></app-header-part>

      <div class="content mt-3">
        <div class="animated fadeIn">
            <form #saveLocationForm="ngForm">
            <div class="row">
              <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Information générale - Location</strong>
                    </div>
                    <div class="card-body">
                      <!-- Credit Card -->
                      <div id="pay-invoice">
                          <div class="card-body">
                                  <div class="form-group text-center">
                                      <ul class="list-inline">
                                          <li class="list-inline-item"><i class="fa fa-cart-plus fa-4x"></i></li>
                                      </ul>
                                  </div>
                                  <hr>
                                  <div class="row form-group input-group-sm">
                                        <div class="input-group-sm col-6">
                                                <label for="nom" class="control-label mb-1 fs-menu">Nom Client</label>
                                                <input  required  id="nom" [(ngModel)]="location.nomClient" name="nom" type="text" class="form-control">
                                        </div>
                                        <div class="input-group-sm col-6">
                                                <label for="prenomClient" class="control-label mb-1 fs-menu">prénom Client</label>
                                                <input  required id="prenomClient" [(ngModel)]="location.prenomClient" name="prenom" type="text" class="form-control">
                                        </div>
                                  </div>
                                  <div class="row form-group input-group-sm">
                                        <div class="input-group-sm col-6">
                                                <label for="marque" class="control-label mb-1 fs-menu">Marque</label>
                                                <input   [disabled]="true" id="marque" [(ngModel)]="locationObject?.voitureDto.marque" name="marque" type="text" class="form-control">
                                        </div>
                                        <div class="input-group-sm col-6">
                                                <label for="modele" class="control-label mb-1 fs-menu">Modèle</label>
                                                <input  [disabled]="true" id="modele" [(ngModel)]="locationObject?.voitureDto.modele" name="modele" type="text" class="form-control">
                                        </div>
                                  </div>
                                  <div class="row form-group input-group-sm">
                                        <div class="input-group-sm col-3">
                                                <label for="depart" class="control-label mb-1 fs-menu">Départ</label>
                                                <input   [disabled]="true" id="depart" [(ngModel)]="locationObject?.reservationDto.dateDeDepart" name="depart" type="text" class="form-control">
                                        </div>
                                        <div class="input-group-sm col-3">
                                                <label for="HeureR" class="control-label mb-1 fs-menu">Heure</label>
                                                <input required  id="HeureR" [(ngModel)]="location.heureDepart" name="HeureR" type="time" class="form-control">
                                        </div>
                                        <div class="input-group-sm col-3">
                                                <label for="Retour" class="control-label mb-1 fs-menu">Retour</label>
                                                <input   [disabled]="true" id="Retour" [(ngModel)]="locationObject?.reservationDto.dateDeRetour" name="Retour" type="text" class="form-control">
                                        </div>
                                        <div class="input-group-sm col-3">
                                                <label for="HeureR" class="control-label mb-1 fs-menu">Heure</label>
                                                <input required  id="HeureR" [(ngModel)]="location.heureRetour" name="HeureR" type="time" class="form-control">
                                        </div>
                                  </div>
                                  <div class="row">
                                        <div class="col-4">
                                            <div class="form-group input-group-sm">
                                                <label for="nbrj" class="control-label mb-1 fs-menu">Nombre de jours</label>
                                                <input [disabled]="true" id="nbrj" name="nbrj" type="text" [(ngModel)]="location.nombreDeJours" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-4">
                                          <div class="form-group input-group-sm">
                                                <label for="prixU" class="control-label mb-1 fs-menu">Prix unitaire</label>
                                                <input (blur)="onChangePrixUnitaire()" id="prixu" name="prixU" [(ngModel)]="location.prixUnitaire"  type="text" class="form-control">
                                          </div>
                                       </div>
                                       <div class="col-4">
                                            <div class="form-group input-group-sm">
                                                  <label for="remise" class="control-label mb-1 fs-menu">Remise</label>
                                                  <input (blur)="onChangeRemise()" [(ngModel)]="location.remise" id="remise" name="remise" type="number" class="form-control">
                                            </div>
                                        </div>
                                  </div>
                                  <div class="row">
                                        <div class="col-6">
                                            <div class="form-group input-group-sm">
                                                <label for="totalTTC" class="control-label mb-1 fs-menu">Total TTC</label>
                                                <input [(ngModel)]="location.totalTTC" [disabled]="true" id="totalTTC" name="totalTTC" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                          <div class="form-group input-group-sm">
                                                <label for="totalHT" class="control-label mb-1 fs-menu">Total HT</label>
                                                <input [(ngModel)]="location.totalHT" [disabled]="true" id="totalHT" name="totalHT" type="text" class="form-control">
                                          </div>
                                        </div>
                                  </div>
                                  <div class="row">
                                        <div class="col-6">
                                                <div class="form-group input-group-sm">
                                                      <label for="versement" class="control-label mb-1 fs-menu">Versement</label>
                                                      <input (blur)="onChangeVersement()" [(ngModel)]="location.versement" id="versement" name="versement" type="number" class="form-control">
                                                </div>
                                        </div>
                                        <div class="col-6">
                                                <div class="form-group input-group-sm">
                                                    <label for="resteApaye" class="control-label mb-1 fs-menu">Reste à payé</label>
                                                    <input [ngClass]="{'statutNonPaye':location.resteApaye > 0,'statutPaye':location.resteApaye == 0 }" [(ngModel)]="location.resteApaye" [disabled]="true" id="resteApaye" name="resteApaye" type="text" class="form-control">
                                                </div>
                                        </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                        <div class="col-3">
                                            <div class="form-group input-group-sm">
                                                <label for="Caution" class="control-label mb-1 fs-menu">Caution</label>
                                                <select [(ngModel)]="location.caution" name="Caution" id="Caution" class="form-control">
                                                        <option value="Espèce">Espèce</option>
                                                        <option value="Chéque">Chéque</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                          <div class="form-group input-group-sm">
                                                <label for="mnt" class="control-label mb-1 fs-menu">Montant</label>
                                                <input [(ngModel)]="location.montant" id="mnt" name="mnt" type="number" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-6">
                                                <div class="form-group input-group-sm">
                                                    <label for="Statut" class="control-label mb-1 fs-menu">Statut</label>
                                                    <select [disabled]="true" [(ngModel)]="location.statut" name="Statut" id="Statut" class="form-control">
                                                            <option *ngFor="let item of ListeStatut" [ngValue]="item">{{item}}</option>
                                                    </select>
                                                </div>
                                        </div>
                                  </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card">
                                  <div id="pay-invoice">
                                      <div class="card-body">
                                             <span *ngIf="errors" style="color: red;display: block;font-size: 12px;text-align: center;">{{messageError}}</span>
                                              <div>
                                                  <button [disabled]="!saveLocationForm.valid" (click)="open(content)" style="color: white;" id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                                      <i class="fa fa-lock fa-lg"></i>&nbsp;
                                                      <span id="payment-button-amount">Enregistrer</span>
                                                      <span id="payment-button-sending" style="display:none;">Sending…</span>
                                                  </button>
                                              </div>
                                      </div>
                                  </div>
                            </div> <!-- .card -->
                        </div><!--/.col-->
                    </div>
                </div> <!-- .card -->
      
              </div><!--/.col-->
      
              <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Information générale - Client + Voiture</strong>
                    </div>
                    <div class="card-body">
                      <!-- Credit Card -->
                      <div id="pay-invoice">
                          <div>
                                <div class="form-group text-center" style="margin-bottom: 35px!important">
                                      <ul class="list-inline">
                                            <li class="list-inline-item"><i class="fa fa-address-card fa-4x"></i></li>
                                      </ul>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group input-group-sm">
                                            <label for="passport" class="control-label mb-1 fs-menu">Passport N°</label>
                                            <input [(ngModel)]="location.numeroPasseport" id="passport" name="passport" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                      <div class="form-group input-group-sm">
                                            <label for="permis" class="control-label mb-1 fs-menu">Permis N°</label>
                                            <input required [(ngModel)]="location.numeroPermis" id="permis" name="permis" type="text" class="form-control">
                                      </div>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group input-group-sm">
                                            <label for="adresse" class="control-label mb-1 fs-menu">Adresse</label>
                                            <input required [(ngModel)]="location.adresse" id="adresse" name="adresse" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group input-group-sm">
                                            <label for="tel1" class="control-label mb-1 fs-menu">Tél 1</label>
                                            <input required [(ngModel)]="location.tel" id="tel1" name="tel1" type="tel" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group text-center">
                                        <ul class="list-inline">
                                                <li class="list-inline-item"><i class="text-muted fa fa-car fa-4x"></i></li>
                                        </ul>
                                </div>
                                <div class="row">
                                        <div class="col-12">
                                                <div class="form-group input-group-sm">
                                                        <label class="control-label mb-1 fs-menu">Couleur</label>
                                                        <div  style="border: 1px white;height: 30px;" [style.background-color]="locationObject?.voitureDto.couleur"></div>
                                                        <input  name="couleur" type="hidden" class="form-control">
                                                </div>
                                        </div>
                                </div>
                                
                                <div class="row">
                                        <div class="col-6">
                                            <div class="form-group input-group-sm">
                                                    <label for="Immatricule" class="control-label mb-1 fs-menu">Immatricule</label>
                                                    <input [(ngModel)]="location.immatricule" id="Immatricule" name="Immatricule" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group input-group-sm">
                                                <label for="expirationAssurance" class="control-label mb-1 fs-menu">Date expiration assurance</label>
                                                <input [disabled]="true"  [(ngModel)]="dateExpirationAssurance" id="expirationAssurance" name="expirationAssurance" type="text" class="form-control">
                                            </div>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-6">
                                            <div class="form-group input-group-sm">
                                                    <label for="kmActuel" class="control-label mb-1 fs-menu">Kilommétrage actuel</label>
                                                    <input required [(ngModel)]="location.kmActuel" id="kmActuel" name="kmActuel" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group input-group-sm">
                                                <label for="carburant" class="control-label mb-1 fs-menu">Carburant actuel</label>
                                                <input required [(ngModel)]="location.carburantActuel" id="carburant" name="carburant" type="text" class="form-control">
                                            </div>
                                        </div>
                                </div>
                                <div class="row" style="margin-bottom: 15px;">
                                        <div class="col-12">
                                                <div class="form-group input-group-sm">
                                                        <label for="energie" class="control-label mb-1 fs-menu">Energie</label>
                                                        <input [disabled]="true" [(ngModel)]="locationObject?.voitureDto.energie" id="energie" name="energie" type="text" class="form-control">
                                                </div>
                                        </div>
                                </div>
                                <div class="card">
                                        <div id="pay-invoice" style="padding-bottom: 23px;">
                                                <div class="card-body" >
                                                        <div class="col-6">
                                                            <button style="color: white;" (click)="retourToReservation()" type="button" class="btn btn-lg btn-danger btn-block">
                                                                  <i class="fa fa-angle-double-right fa-lg"></i>&nbsp;
                                                                  <span id="payment-button-amount">Retour</span>
                                                            </button>
                                                        </div>
                                                        <div class="col-6">
                                                                <button style="color: white;" (click)="ngOnInit()" type="button" class="btn btn-lg btn-warning btn-block">
                                                                      <i class="fa fa-automobile fa-lg"></i>&nbsp;
                                                                      <span id="payment-button-amount">Initialisation</span>
                                                                </button>
                                                        </div>
                                                </div>
                                        </div>
                                </div> <!-- .card -->
                          </div>
                      </div>
                    </div>
                </div> <!-- .card -->
      
              </div><!--/.col-->
              
            </div>

            <!--modal-->
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title">Information - Location</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="border: 1px dashed;margin: 20px;">
                        <div style="margin: auto;text-align: center;">
                            <p class="font-ticket">*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-</p>
                            <p class="font-ticket">Boumaza Rafik</p>
                            <p class="font-ticket" >rue du 20 Août 1955</p>
                            <p class="font-ticket">Skikda 21000</p>
                            <p class="font-ticket" >tél : 0773136219</p>
                            <p class="font-ticket">*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-</p>
                        </div>
                        <div style="text-align: left;">
                            <p class="font-ticket" style="display: inline-block;">Agence : agence Adam</p> <span style="float: right;font-family: ticket">12-01-2018 12H:30</span>
                            <p class="font-ticket" >Ticket : 124JHO</p>
                            <p class="font-ticket">Client : {{location.nomClient}} {{location.prenomClient}}</p>
                        </div>
                        <p class="font-ticket" style="font-size: 12px;margin: auto;text-align: center;">
                            *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
                        </p>
                        <div style="text-align: left;">
                                <p class="font-ticket" style="display: inline-block;">Date départ : {{locationObject.reservationDto.dateDeDepart}}</p> 
                                <span style="float: right;font-family: ticket">{{location.heureDepart}}</span>   
                        </div>
                        <div style="text-align: left;">
                                <p class="font-ticket" style="display: inline-block;">Date Retour : {{locationObject.reservationDto.dateDeRetour}}</p> 
                                <span style="float: right;font-family: ticket">{{location.heureRetour}}</span>   
                        </div>
                        <div style="text-align: left;">
                                <p class="font-ticket" style="display: inline-block;">PRIX UNITAIRE : {{location.prixUnitaire}} &#10005; {{location.nombreDeJours}}</p> 
                                <span style="float: right;font-family: ticket">{{location.totalTTC}}</span>   
                        </div>
                        <p class="font-ticket" style="font-size: 12px;margin: auto;text-align: center;">
                                *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
                        </p>
                        <div style="text-align: left;">
                                <p class="font-ticket" style="display: inline-block;">TOTAL TTC : {{location.totalTTC}}</p> 
                                <span style="float: right;font-family: ticket">TOTAL HT : {{location.totalHT}}</span>   
                        </div>
                        <div style="text-align: left;">
                                <p class="font-ticket" style="display: inline-block;">VERSEMENT : {{location.versement}}</p> 
                                <span style="float: right;font-family: ticket">Reste à Payer : {{location.resteApaye}}</span>   
                        </div>
                        <div style="text-align: left;">
                                <p class="font-ticket" style="display: inline-block;">
                                    Statut : {{location.statut}}
                                    <span *ngIf="location.statut == ListeStatut[0]" style="color: green">&#10004;</span>
                                    <span *ngIf="location.statut == ListeStatut[1]" style="color: orange">&#10006;</span>
                                    <span *ngIf="location.statut == ListeStatut[2]" style="color: red">&#10006;</span>
                                </p> 
                        </div>
                        <p class="font-ticket" style="font-size: 12px;margin: auto;text-align: center;">
                                *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
                        </p>
                        <div class="card" style="padding-bottom: 0px;">
                                <div id="pay-invoice" style="padding-bottom: 23px;">
                                        <div class="card-body" >
                                                <div class="col-6">
                                                    <button style="color: white;" (click)="saveLocation();d('Cross click')" type="button" class="btn btn-lg btn-success btn-block">
                                                          <i class="fa fa-check  fa-lg"></i>&nbsp;
                                                          <span id="payment-button-amount">OUI</span>
                                                    </button>
                                                </div>
                                                <div class="col-6">
                                                        <button style="color: white;" (click)="ngOnInit();d('Cross click')" type="button" class="btn btn-lg btn-warning btn-block">
                                                              <i class="fa fa-crosshairs fa-lg"></i>&nbsp;
                                                              <span id="payment-button-amount">NON</span>
                                                        </button>
                                                </div>
                                        </div>
                                </div>
                        </div> <!-- .card -->
                </div>
              </ng-template>
            </form>
        </div>
    </div>
</div><!-- /#right-panel -->
  <!-- Right Panel -->
</div>





