
<aside  id="left-panel" class="col-lg-2 col-md-12 left-panel" style="float: left;">
  <nav class="navbar navbar-expand-sm navbar-default">

      <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="./"><img [src]="logo" alt="Logo"></a>
          <a class="navbar-brand hidden" href="./"><img [src]="logo2" alt="Logo"></a>
          
      </div>
     <!-- <app-alert [@slideInOut]="menuState"></app-alert> -->
      
      <div id="main-menu" class="main-menu collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li class="active">
                  <a href="index.html"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
              </li>
              <div *ngFor = "let item of routes">
                    <h3 class="menu-title">{{item.parent}}</h3><!-- /.menu-title -->
                    <li *ngFor ="let it of item.menu" class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>{{it.menu_title}}</a>
                        <ul  class="sub-menu children dropdown-menu">
                            <li *ngFor="let itchild of it.child" ><i class="fa fa-puzzle-piece"></i><a [routerLink]="itchild.link" class="fs-menu" href="ui-buttons.html">{{itchild.label}}</a></li>
                        </ul>
                    </li>
              </div>
          </ul>
      </div><!-- /.navbar-collapse -->
  </nav>
</aside><!-- /#left-panel -->
